.App {
  text-align: center;
}
.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  
.popup_open {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;  
}
.td-height {
  margin-right:auto;
  size:1px;
}
.table-scroll{
  height: 600px !important;
  overflow: scroll;
  margin-right: auto;
  margin-left: auto;

}
.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(57, 32, 32);
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  color:white;
  width: 100%;
}
body {
  margin: 0;

  font-family: "Helvetica" !important;
  background: linear-gradient(
    45deg,
    #ffdc00,
    #e58e2f,
    #db2d72,
    #f0f
  );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.twerk {
  background-color: transparent;
  background-image:url('./Loaders/twerking.gif');
   background-repeat:repeat;
   height: auto;
   size: 100000px;
}
.lacy2 {
  background-color: transparent;
  background-image:url('./Loaders/lacyClaire2.png');
   background-repeat:repeat;
   height: auto;
   size: 10000rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html { 
  font-family: 'Cambria', sans-serif;
}
